@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 19.4835px;
    line-height: 24px;
    font-weight: 400;
}

.chat {
    background-color: #1A1A1A;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}